@font-face {
    font-family: "Symbol Neu Powerline";
    src: url("/Users/huberdoggy/prime/tier2/Weekend_Challenges/weekend-sql-to-do-list/server/public/css/Symbol Neu for Powerline.ttf");
}

.on_success{
    text-decoration: line-through;
    text-decoration-color: black;
}

.goGreen{
    background-color: limegreen;
}


h1{
    font-family: "Symbol Neu Powerline";
}

body{
    
}